@import 'tailwindcss';
@source '..';

@import './skills.css';

@theme inline {
  --font-sans: var(--font-source-sans), sans-serif;
}

@theme inline {
  --sideline-color: #19aaf033;

  --color-*: initial;

  --color-white: #fff;

  --color-accent-orange-50: oklch(0.99 0.02 58);
  --color-accent-orange-100: oklch(0.96 0.02 58);
  --color-accent-orange-200: oklch(0.92 0.05 58);
  --color-accent-orange-300: oklch(0.86 0.09 58);
  --color-accent-orange-400: oklch(0.8 0.14 58);
  --color-accent-orange-500: oklch(0.72 0.17 58);
  --color-accent-orange-600: oklch(0.62 0.15 58);
  --color-accent-orange-700: oklch(0.53 0.13 58);
  --color-accent-orange-800: oklch(0.41 0.1 58);
  --color-accent-orange-900: oklch(0.3 0.07 58);
  --color-accent-orange-950: oklch(0.18 0.02 58);

  --color-accent-blue-50: oklch(0.99 0.005 238);
  --color-accent-blue-100: oklch(0.96 0.02 238);
  --color-accent-blue-200: oklch(0.91 0.05 238);
  --color-accent-blue-300: oklch(0.85 0.09 238);
  --color-accent-blue-400: oklch(0.78 0.13 238);
  --color-accent-blue-500: oklch(0.7 0.15 238);
  --color-accent-blue-600: oklch(0.6 0.13 238);
  --color-accent-blue-700: oklch(0.52 0.11 238);
  --color-accent-blue-800: oklch(0.4 0.09 238);
  --color-accent-blue-900: oklch(0.29 0.06 238);
  --color-accent-blue-950: oklch(0.18 0.02 238);

  --color-accent-success-50: oklch(0.99 0.02 148);
  --color-accent-success-100: oklch(0.96 0.07 148);
  --color-accent-success-200: oklch(0.89 0.2 148);
  --color-accent-success-300: oklch(0.82 0.24 148);
  --color-accent-success-400: oklch(0.76 0.22 148);
  --color-accent-success-500: oklch(0.68 0.2 148);
  --color-accent-success-600: oklch(0.59 0.17 148);
  --color-accent-success-700: oklch(0.5 0.15 148);
  --color-accent-success-800: oklch(0.39 0.11 148);
  --color-accent-success-900: oklch(0.29 0.08 148);
  --color-accent-success-950: oklch(0.18 0.02 148);

  --color-accent-purple-50: oklch(0.99 0.02 318);
  --color-accent-purple-100: oklch(0.97 0.02 318);
  --color-accent-purple-200: oklch(0.92 0.06 318);
  --color-accent-purple-300: oklch(0.86 0.1 318);
  --color-accent-purple-400: oklch(0.8 0.15 318);
  --color-accent-purple-500: oklch(0.73 0.22 318);
  --color-accent-purple-600: oklch(0.64 0.31 318);
  --color-accent-purple-700: oklch(0.54 0.26 318);
  --color-accent-purple-800: oklch(0.42 0.2 318);
  --color-accent-purple-900: oklch(0.3 0.14 318);
  --color-accent-purple-950: oklch(0.18 0.02 318);

  --color-accent-danger-50: oklch(0.99 0.02 28);
  --color-accent-danger-100: oklch(0.97 0.02 28);
  --color-accent-danger-200: oklch(0.92 0.04 28);
  --color-accent-danger-300: oklch(0.86 0.07 28);
  --color-accent-danger-400: oklch(0.8 0.11 28);
  --color-accent-danger-500: oklch(0.72 0.17 28);
  --color-accent-danger-600: oklch(0.62 0.25 28);
  --color-accent-danger-700: oklch(0.53 0.21 28);
  --color-accent-danger-800: oklch(0.41 0.17 28);
  --color-accent-danger-900: oklch(0.29 0.12 28);
  --color-accent-danger-950: oklch(0.18 0.02 28);

  /* UI */
  --color-ui-orange-50: oklch(0.99 0.02 58);
  --color-ui-orange-100: oklch(0.97 0.02 58);
  --color-ui-orange-200: oklch(0.92 0.04 58);
  --color-ui-orange-300: oklch(0.86 0.07 58);
  --color-ui-orange-400: oklch(0.8 0.11 58);
  --color-ui-orange-500: oklch(0.72 0.15 58);
  --color-ui-orange-600: oklch(0.62 0.13 58);
  --color-ui-orange-700: oklch(0.53 0.11 58);
  --color-ui-orange-800: oklch(0.41 0.09 58);
  --color-ui-orange-900: oklch(0.3 0.06 58);
  --color-ui-orange-950: oklch(0.18 0.02 58);

  --color-ui-blue-50: oklch(0.99 0.005 238);
  --color-ui-blue-100: oklch(0.96 0.02 238);
  --color-ui-blue-200: oklch(0.92 0.04 238);
  --color-ui-blue-300: oklch(0.85 0.07 238);
  --color-ui-blue-400: oklch(0.78 0.11 238);
  --color-ui-blue-500: oklch(0.7 0.15 238);
  --color-ui-blue-600: oklch(0.6 0.13 238);
  --color-ui-blue-700: oklch(0.52 0.11 238);
  --color-ui-blue-800: oklch(0.4 0.09 238);
  --color-ui-blue-900: oklch(0.29 0.06 238);
  --color-ui-blue-950: oklch(0.18 0.02 238);

  --color-ui-success-50: oklch(0.99 0.02 148);
  --color-ui-success-100: oklch(0.96 0.02 148);
  --color-ui-success-200: oklch(0.91 0.04 148);
  --color-ui-success-300: oklch(0.84 0.07 148);
  --color-ui-success-400: oklch(0.77 0.11 148);
  --color-ui-success-500: oklch(0.69 0.15 148);
  --color-ui-success-600: oklch(0.6 0.13 148);
  --color-ui-success-700: oklch(0.51 0.11 148);
  --color-ui-success-800: oklch(0.4 0.09 148);
  --color-ui-success-900: oklch(0.29 0.06 148);
  --color-ui-success-950: oklch(0.18 0.02 148);

  --color-ui-purple-50: oklch(0.99 0.02 318);
  --color-ui-purple-100: oklch(0.97 0.02 318);
  --color-ui-purple-200: oklch(0.92 0.04 318);
  --color-ui-purple-300: oklch(0.86 0.07 318);
  --color-ui-purple-400: oklch(0.8 0.11 318);
  --color-ui-purple-500: oklch(0.72 0.15 318);
  --color-ui-purple-600: oklch(0.63 0.13 318);
  --color-ui-purple-700: oklch(0.54 0.11 318);
  --color-ui-purple-800: oklch(0.42 0.09 318);
  --color-ui-purple-900: oklch(0.31 0.06 318);
  --color-ui-purple-950: oklch(0.18 0.02 318);

  --color-ui-danger-50: oklch(0.99 0.02 28);
  --color-ui-danger-100: oklch(0.97 0.02 28);
  --color-ui-danger-200: oklch(0.92 0.04 28);
  --color-ui-danger-300: oklch(0.86 0.07 28);
  --color-ui-danger-400: oklch(0.8 0.11 28);
  --color-ui-danger-500: oklch(0.72 0.15 28);
  --color-ui-danger-600: oklch(0.62 0.13 28);
  --color-ui-danger-700: oklch(0.53 0.11 28);
  --color-ui-danger-800: oklch(0.42 0.09 28);
  --color-ui-danger-900: oklch(0.3 0.06 28);
  --color-ui-danger-950: oklch(0.18 0.02 28);

  --animate-fadeIn: fadeIn ease 0.2s;
  --animate-fadeOut: fadeOut ease 0.2s forwards;
  --animate-slideIn: slideIn ease 0.2s;
  --animate-slideOut: slideOut ease 0.2s forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slideIn {
    from {
      transform: scale(0.5) translateY(50%);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideOut {
    from {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
    to {
      transform: scale(0.5) translateY(50%);
      opacity: 0;
    }
  }
}

@layer theme {
  :root {
    --container-max: 100%;
    font-size: 17px;

    @media (min-width: 1024px) {
      font-size: 21px;
    }
  }

  @media (min-width: 640px) {
    :root {
      --container-max: 640px;
    }
  }
  @media (min-width: 768px) {
    :root {
      --container-max: 768px;
    }
  }
  @media (min-width: 1024px) {
    :root {
      --container-max: 1024px;
    }
  }
  /* @media (min-width: 1280px) {
    :root {
      --container-max: 1280px;
    }
  }
  @media (min-width: 1536px) {
    :root {
      --container-max: 1280px;
    }
  } */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    font-family: var(--font-sans);
    color: var(--color-ui-blue-950);
  }
}

@layer components {
  .prose > * + * {
    margin-top: 1.5rem;
  }

  .btn {
    --btn-outline: #333;
    --btn-bg: #000;

    cursor: pointer;
    z-index: 1;
    @apply relative py-2 px-4 inline-block;
  }

  .btn::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-color: var(--btn-bg);
    z-index: -1;
    transition:
      background-color 0.2s,
      transform 0.2s;

    @apply w-full h-full;
  }

  .btn:hover::before {
    transform: translate(2px, -2px);
  }

  .btn::after {
    content: '';
    z-index: 0;
    border: 1px solid var(--btn-outline);
    @apply w-full h-full absolute inset-0;
  }

  .btn-primary {
    --btn-outline: var(--color-accent-orange-500);
    --btn-bg: var(--color-accent-orange-200);

    @apply text-ui-blue-950;

    &:hover {
      --btn-bg: var(--color-accent-orange-300);
    }
  }

  .btn-secondary {
    --btn-outline: var(--color-accent-blue-500);
    --btn-bg: var(--color-accent-blue-200);

    @apply text-ui-blue-950;

    &:hover {
      --btn-bg: var(--color-accent-blue-300);
    }
  }
}

@layer utilities {
  .container {
    width: 100%;
    max-width: var(--container-max);
    margin-inline: auto;
  }

  .sideline {
    border-left: 1px solid var(--sideline-color);
    border-right: 1px solid var(--sideline-color);
  }
}
