@layer components {
  .skills-section {
    @apply bg-ui-blue-200;
  }

  .skill-icon {
    @apply inline-flex font-bold text-sm overflow-hidden;
  }

  .svg-active {
    @apply w-full h-full transition-opacity opacity-0 relative z-1;
  }

  .svg-inactive {
    @apply w-full h-full transition-opacity absolute top-0 left-0 -z-1 opacity-30;

    fill: var(--color-ui-blue-950);
  }

  .skill-icon {
    /* hiding */
    &.level-1 {
      .svg-active {
        @apply opacity-0;
      }

      .svg-inactive {
        @apply opacity-10;
      }
    }

    /* level-2 is default state, no changes needed */

    /* awake */
    &.level-3 {
      .svg-active {
        @apply opacity-0;
      }

      .svg-inactive {
        @apply opacity-50;
      }
    }

    /* focused */
    &.level-4 {
      .svg-active {
        @apply opacity-100;
      }

      .svg-inactive {
        @apply opacity-50;
      }
    }
  }

  .skill-card {
    @apply bg-ui-blue-50 rounded-md shadow-md p-4 mb-4 opacity-50 transition-opacity;

    &.level-1 {
      @apply opacity-25;
    }
    &.level-3 {
      @apply opacity-70;
    }
    &.level-4 {
      @apply opacity-90;
      animation: pop 0.3s ease-in-out 0.3s 1;
    }
  }

  .skill-label {
    padding-left: 3px;
    margin-left: -6px;

    border-left: 3px solid transparent;

    transition: border-left-color 0.3s;

    &.level-3 {
      border-left-color: var(--color-accent-blue-300);
    }

    &.level-4 {
      border-left-color: var(--color-accent-orange-500);
      border-left-width: 4px;
      margin-left: -7px;
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
